$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

h1, h3 {
  text-align: center;
};

p {
  color: blue;
};

form {
  margin: 20px;
};

div {
  color: red;
};

.list-columns {
-moz-column-count: 2;
-moz-column-gap: 60px;
-webkit-column-count: 2;
-webkit-column-gap: 60px;
column-count: 2;
column-gap: 60px;
}

li {
  list-style: none;
};
